# Cliente
PyQt5
inputs
psutil
cryptography
python-jose[cryptography]

# Servidor
fastapi
uvicorn[standard]
sqlalchemy
bcrypt==4.0.1
python-multipart
httpx==0.27.0
psycopg2-binary
mercadopago>=2.3.0
sendgrid
python-dotenv
alembic